tr(style='-webkit-box-sizing: border-box; box-sizing: border-box;')
    td.email-footer(style='-webkit-box-sizing: border-box; background-color: #efeff4 !important; box-sizing: border-box; padding: 26px 0 28px 0;')
        table.email-table-footer(border='0' cellpadding='0' cellspacing='0' align='center' style='-webkit-box-sizing: border-box; border-collapse: collapse; box-sizing: border-box; color: #13122e;')
            tr(style='-webkit-box-sizing: border-box; box-sizing: border-box;')
                td.email-table-footer-brand.text-center(colspan='2' style='-webkit-box-sizing: border-box; box-sizing: border-box; padding-bottom: 11px; text-align: center !important;')
                    strong &copy; 2021 Caja de Jubilaciones y Pensiones de Entre Ríos
            