tr(style='-webkit-box-sizing: border-box; box-sizing: border-box;')
    td.email-footer(style='-webkit-box-sizing: border-box; background-color: #efeff4 !important; box-sizing: border-box; padding: 26px 0 28px 0;')
        table.email-table-footer(border='0' cellpadding='0' cellspacing='0' align='center' style='-webkit-box-sizing: border-box; border-collapse: collapse; box-sizing: border-box; color: #13122e;')
            tr(style='-webkit-box-sizing: border-box; box-sizing: border-box;')
                td.email-table-footer-brand.text-center(colspan='2' style='-webkit-box-sizing: border-box; box-sizing: border-box; padding-bottom: 11px; text-align: center !important;')
                    | Descarga la app
                    span.font-weight-bold(style='-webkit-box-sizing: border-box; box-sizing: border-box; font-weight: 700 !important;') Cajajper
            tr(style='-webkit-box-sizing: border-box; box-sizing: border-box;')
                td.email-table-footer-stores(style='-webkit-box-sizing: border-box; box-sizing: border-box; padding: 0 5px;')
                    a(target='_blank' href=appStoreUrl style='-webkit-box-sizing: border-box; background-color: transparent; box-sizing: border-box; color: #185bbd; display: block; text-decoration: none;')
                        img.app-store(src=baseUrl +'/assets-emails/img/app.png' style='-webkit-box-sizing: border-box; border-style: none; box-sizing: border-box; vertical-align: middle; width: 98px;')
                td.email-table-footer-stores(style='-webkit-box-sizing: border-box; box-sizing: border-box; padding: 0 5px;')
                    a(target='_blank' href=playStoreUrl style='-webkit-box-sizing: border-box; background-color: transparent; box-sizing: border-box; color: #185bbd; display: block; text-decoration: none;')
                        img.play-store(src=baseUrl +'/assets-emails/img/googleplay.png' style='-webkit-box-sizing: border-box; border-style: none; box-sizing: border-box; vertical-align: middle; width: 110px;')