tr(style='-webkit-box-sizing: border-box; box-sizing: border-box;')
    td.email-header(style='-webkit-box-sizing: border-box; box-sizing: border-box; padding-left: 38px; padding-right: 38px; padding-top: 29px;')
        table.email-table-header(border='0' cellpadding='0' cellspacing='0' align='center' width='100%' style='-webkit-box-sizing: border-box; border-collapse: collapse; box-sizing: border-box;')
            tr(style='-webkit-box-sizing: border-box; box-sizing: border-box;')
                td.email-logo-container(style='-webkit-box-sizing: border-box; border-bottom: 1px solid #dcddde; box-sizing: border-box; padding-bottom: 35px;')
                    a.email-header-link(href='https://www.cajajper.gov.ar' target='_blank' style='-webkit-box-sizing: border-box; background-color: transparent; box-sizing: border-box; color: #185bbd; display: block; text-decoration: none;')
                        img.brainy-logo(src='https://eturnos.cajajper.gov.ar/img/logo-cajajper-icon.png' style='-webkit-box-sizing: border-box; border-style: none; box-sizing: border-box; height: 242px; vertical-align: middle;')
