head
    meta(charset='utf-8')
    meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
    // Change dinamic title
    title Template email
    meta(name='title' content='Index | My imove')
    meta(name='description' content='My imove')
    meta(name='keywords' content='4D')
    meta(name='robots' content='INDEX,FOLLOW')
    meta(content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport")
    link(rel='icon' href='/favicon.ico' type='image/x-icon')
    