table.main-table-email.email-report-finalized(border='0' cellspacing='0' width='100%' style='-webkit-box-sizing: border-box; border-collapse: collapse; box-sizing: border-box;')
    tbody(style='-webkit-box-sizing: border-box; box-sizing: border-box;')
        tr(style='-webkit-box-sizing: border-box; box-sizing: border-box;')
            td.display-content(style='-webkit-box-sizing: border-box; border-bottom: solid 1px #efeff4; box-sizing: border-box; padding: 27px 0px;')
                p.font-size-18.font-weight-bold(style='-webkit-box-sizing: border-box; box-sizing: border-box; font-size: 18px; font-weight: 700 !important; margin-bottom: 1rem; margin-top: 0;')
                    | Recuperar Contraseña
                p.font-size-14.text-gray-300(style='-webkit-box-sizing: border-box; box-sizing: border-box; color: #939598 !important; font-size: 14px; margin-bottom: 1rem; margin-top: 0;')
                    a(href=link) Haga click aquí para recuperar su contraseña
                