doctype html
html
    include ../includes/layout/head.pug
    body
    table.email-main-content.report-finalized(align='center' border='0' cellpadding='24' cellspacing='0' width='600px' style='-webkit-box-sizing: border-box; border-collapse: collapse; box-sizing: border-box;')
        tr(style='-webkit-box-sizing: border-box; box-sizing: border-box;')
            td(style='-webkit-box-sizing: border-box; box-sizing: border-box;')
                table.email-main-container(border='0' cellpadding='0' cellspacing='0' width='100%' align='center' style='-webkit-box-sizing: border-box; border-collapse: collapse; box-sizing: border-box;')
                    tbody(style='-webkit-box-sizing: border-box; box-sizing: border-box;')
                        // Header
                        include ../includes/layout/header.pug
                        // Main content
                        tr(style='-webkit-box-sizing: border-box; box-sizing: border-box;')
                            td.main-content(style='-webkit-box-sizing: border-box; box-sizing: border-box; padding-bottom: 31px; padding-left: 38px; padding-right: 38px; padding-top: 36px;')
                                | !{content}
                        if(!footer)
                            // Footer generic
                            include ../includes/layout/footer.pug
                        else 
                            if(footer == 'people')
                                include ../includes/layout/footer_people.pug
